/* Need to adjust padding for mobile viewports */
section {
  display: flex;
  flex-direction: column;
  padding: 0 10px 50px 10px;
}

.content {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  padding: 70px 0 0 0;
  position: relative;
  z-index: 10;
}

.content__search {
  width: 100%;
  padding: 20px;
  font-size: 1.1em;
  border: none;
  margin: 0 0 20px 0;
  outline: none;
  display: block;
  position: fixed;
  background-color: #fff;
  z-index: 50;
  overflow: hidden;
}

.content__left,
.content__right {
  min-height: 350px;
}

.content__left {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
  padding: 20px;
}

.content__right {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  padding: 5px;
}

.content__left--item {
  padding: 25px;
}

.content__right--item {
  max-width: 160px;
  padding: 15px;
}

.content__right--item {
  max-width: 160px;
  padding: 15px;
}

.product__item--description {
  text-align: center;
}

.product__item--img {
  width: 100%;
}

.product__item--type {
  color: #a5a5a5;
}

@media(min-width: 1020px) {
  section {
    padding: 50px;
  }

  .content {
    flex-direction: row;
    margin: 0;
    padding: 0;
  }
  
  .content__search {
    font: inherit;
    width: 100%;
    border: 0;
    outline: none;
    height: 1.1876em;
    margin: 20px 0 20px 0;
    display: block;
    position: relative;
    padding: 10px 0px 10px 50px;
    min-width: 0;
    background: none;
    box-sizing: content-box;
  }

  .content__left {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0 0 0 50px;
    width: 25%;
    max-width: 270px;
  }
  .content__left--item {
    padding: 10px 0 10px 0;
  }

  .content__right--item {
    height: unset;
    max-width: unset;
    padding: 20px;
  }

  .content__right {
    width: 75%;
  }
}