
.content {
  /*debug*/
  border: 10px solid red;
}

.content__search {
  width: 100%;
  padding: 20px;
  /* debug */
  border: 10px solid purple;
}

.content__left,
.content__right {
  min-height: 350px;
}

.content__left {

  /*debug*/
  border: 10px solid blue;
}

.content__right {
  /* debug */
  border: 10px solid green;
}